/* src/Home.css */

.home-container {
    max-width: 600px;
    margin: 4rem auto;
    padding: 2rem;
    text-align: center;
    background-color: #FFFFFF; /* Fond blanc */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.home-container h1 {
    margin-bottom: 1rem;
}

.home-container p {
    margin-bottom: 2rem;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.popup-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.popup-button {
    flex: 1;
    margin: 0 10px;
    padding: 12px 25px;
    background-color: #45B3CB;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-button:hover {
    background-color: #007B9E;
}

.popup-link {
    text-decoration: none;
    color: #45B3CB;
    font-weight: bold;
    margin-top: 20px;
}

.popup-footer {
    margin-top: 20px; /* Espace entre les boutons et le lien */
    text-align: center; /* Centrer le lien */
    width: 100%; /* Pour que le lien occupe tout l'espace disponible */
}
