/* src/components/common/Footer.css */

footer {
  background-color: #f1f1f1;
  padding: 1rem;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 0;
  color: #555;
}
